/*Custon Css*/
body, .input-group-addon, .input-group-btn, table {
	font-size: 10px;
}

label, .control-label {
    font-size: 10px;
}

input {
    font-size: 10px;
}

.logo-img {
    width: 160px;
}

.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 10px;
}

@media (min-width: 480px)
{
    .modal-dialog
    {
        margin: 30px;
    }
}

@media (min-width: 768px)
{
    .modal-dialog
    {
        width: 600px;
        margin: 30px auto;
    }
    .modal-sm
    {
        width: 300px;
    }
}

@media (min-width: 992px)
{
    .modal-lg {
        width: 900px;
    }

    .modal-full {
        width: 80%;
    }

    .modal-full-xl {
        width: 90%;
    }

    .modal-full-xxl {
        width: 98%;
    }
}

.table-checkbox {
	margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.logo-wrapper {
    margin-top: 3px;
    margin-left: 50px;
    width: 85px;
}

.loadingOverlay {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading.gif')
                50% 50%
                no-repeat;
}

.loadingOverlay-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading.gif')
                50% 50%
                no-repeat;
}

.table {
    color: #333232;
    font-weight: 400;
}

.table .thead-dark th {
    border-color: #32383e;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #32383e;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 7px;
    padding-left: 7px;
}

.row {
    margin-right: -7px;
    margin-left: -7px;
}

.input-group > .input-group-prepend {
    flex: 0 0 20%;
}
.input-group .input-group-text {
    width: 100%;
}

.select2-container .select2-search--inline .select2-search__field {
    padding-left: 5px;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 2rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -2px;
}

.custom-file-input, .custom-file-label {
    height: 30px;
    line-height: 1.8;
}

.custom-file-label::after {
    height: 28px;
    line-height: 1.8;
}
.list-group-item {
    padding: 5px 5px;
}

#sortable_process {
    height: 400px;
    overflow-y: scroll;
    cursor: move;
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before {
    display: none;
}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}